.navigation{
    display: flex;
    margin-left: 200px;
    border: 1px solid gray;
    /* width: 100%; */
}

.navigation  >  p{
    margin-left:80px;
    font-size: 18px;
}

#home{
    margin-left: 480px;
    margin-top: 50px;
}

#home:hover{
    text-decoration: none;
    color: red;
}

Link:hover{
    color: red;
}

#categary{
    margin-top: 50px;
}


.addtocart{
    width: 60px;
    height: 60px;
    margin-left: 100px;
    margin-top: 25px;
}
.addtocart1{
    width: 280px;
    height: 100px;
    margin-left: -200px;
}
